<div class="container">
  <div class="row">
    <div class="col">
      <strong>Buscar factura</strong>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-5 form-inline">
      <input type="text" name="" [(ngModel)]="criterioBusqueda" class="form-control"  placeholder="" aria-describedby="helpId" [required]=true>
      <button type="submit" class="btn btn-success ml-2" (click)="buscarFactura()">Buscar</button>
    </div>
  </div>
  <hr>
  <div *ngIf="isFacturasEsVacio" class="alert alert-info" role="alert">
    <strong>No se ha encontrado facturas</strong>
  </div>
  <div *ngFor="let factura of facturas; let indice=index;" class="row my-2">
    <div class="col">
      <div class="card border" [ngClass]="[ factura.tipo === 'ingresos' ? 'border-success' : 'border-info' ]">
        <div class="card-header">
          <div><strong>Factura {{ indice + 1 }}</strong></div>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Descripción: </strong> {{ factura.descripcion }}
          </p>
          <p class="card-text">
            <strong>Tipo: </strong> {{ factura.tipo }}
          </p>
          <p class="card-text">
            <strong>Total: </strong> {{ factura.total | currency:'USD' }}
          </p>
          <p class="card-text">
            <strong>Fecha: </strong> {{ factura.fecha | date: 'dd/MM/yyyy' }}
          </p>
          <button class="btn btn-sm btn-info" (click)="navegarDetalleFactura(factura.id)">Más informacion</button>
        </div>
        <div class="card-footer">
          <div *ngFor="let etiqueta of factura.etiquetas" class="ui-chips-token ui-state-highlight ui-corner-all">
            {{ etiqueta }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
