<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="jumbotron text-center">
        <h1 class="display-3">Facturas</h1>
        <p class="lead">Revisa las cuentas de la FEPON</p>
        <hr class="my-2">
        <p>Aqui se encuentra las facturas de la FEPON</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="" role="button">Saber más</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 my-2">
      <h1><strong>Últimas facturas</strong></h1>
      <hr>
      <div class="card-deck">
        <div *ngFor="let factura of facturas" class="card">
          <img class="card-img-top" src="http://lorempixel.com/50/50/" alt="">
          <div class="card-body">
            <h4 class="card-title">Factura 1</h4>
            <p class="card-text">{{ factura.descripcion }}</p>
            <p-chips [(ngModel)]="factura.etiquetas" [disabled]=true></p-chips>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-2">
        <h1><strong>Etiquetas</strong></h1>
        <hr>
        <span class="etiqueta">Limpieza</span>
        <span class="etiqueta">Poliperros</span>
        <span class="etiqueta">Curso senescyt</span>
        <span class="etiqueta">Curso</span>
    </div>
  </div>
</div>
