/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

// Acceder a los colores del theme de bootstap igual que los botones
.c-primary {
  color: map-get($theme-colors, primary);
}

.c-secondary {
  color: map-get($theme-colors, secondary);
}

.c-success {
  color: map-get($theme-colors, success);
}

.c-info {
  color: map-get($theme-colors, info);
}

.c-warning {
  color: map-get($theme-colors, warning);
}

.c-danger {
  color: map-get($theme-colors, danger);
}

.c-light {
  color: map-get($theme-colors, light);
}

.c-dark {
  color: map-get($theme-colors, dark);
}
