<div class="container">
  <form>
    <div class="row mt-2">
      <div class="col-md-2"></div>
      <div class="col-md-8 border border-blue">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Nombre del emisor"/>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="RUC emisor"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-money-bill fa-fw"></i>
                </div>
              </div>
              <input type="number" class="form-control" placeholder="N° Factura"/>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-calendar fa-fw" (click)="d.toggle()"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                #d="ngbDatepicker" (click)="d.toggle()"/>
            </div>
          </div>
        </div>
        <!--Cierre de primer row-->
        <div class="row border border-dark">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Nombre del receptor"/>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input type="number" class="form-control" placeholder="RUC receptor"/>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value=""/> Incluye IVA
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" rows="3" placeholder="Describa el motivo de la factura"></textarea>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inline-radio-1"
                  value="option1"/> Ingreso
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inline-radio-2"
                  value="option2"/> Egreso
              </label>
            </div>
          </div>
        </div>
        <!--Cierre de row de datos de receptor-->
        <app-cargar-archivos></app-cargar-archivos>
      <!-- añadir upload -->
        <div class="row"></div>
      </div>
      <div class="col-md-2">
        <button type="button">Hola</button>
      </div>
    </div>
  </form>
</div>
