<div class="container">
  <form novalidate #form="ngForm">
    <div class="row my-2">
      <div class="col-md-3"></div>
      <div class="col-md-6 border">
        <div class="row my-2">
          <div class="col-md-6">
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" name="nombreEmisor" #mNombreEmisor="ngModel"
                [(ngModel)]="factura.nombreEmisor" placeholder="Nombre del emisor"
                [ngClass]="{ 'is-invalid': mNombreEmisor.touched && mNombreEmisor.invalid }"
                required />
              <div *ngIf="mNombreEmisor.touched && mNombreEmisor.invalid" class="invalid-feedback">
                <div *ngIf="mNombreEmisor.errors['required']">Nombre emisor es requerido</div>
              </div>
            </div>
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" name="rucEmisor" #mRucEmisor="ngModel" [(ngModel)]="factura.rucEmisor"
                aria-label="rucEmisor" placeholder="RUC emisor" [ngClass]="{ 'is-invalid': mRucEmisor.touched && mRucEmisor.invalid }"
                required />
              <div *ngIf="mRucEmisor.touched && mRucEmisor.invalid" class="invalid-feedback">
                <div *ngIf="mRucEmisor.errors['required']">Ruc emisor es requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-money-bill fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" name="numeroFactura" #mNumeroFactura="ngModel"
                [(ngModel)]="factura.numeroFactura" placeholder="N° Factura" [ngClass]="{ 'is-invalid': mNumeroFactura.touched && mNumeroFactura.invalid }"
                required />
              <div *ngIf="mNumeroFactura.touched && mNumeroFactura.invalid" class="invalid-feedback">
                <div *ngIf="mNumeroFactura.errors['required']">Numero factura es requerido</div>
              </div>
            </div>
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-calendar fa-fw" (click)="d.toggle()"></i>
                </div>
              </div>
              <input class="form-control" name="fecha" #mFecha="ngModel" [(ngModel)]="factura.fecha"
                placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                [ngClass]="{ 'is-invalid': mFecha.touched && mFecha.invalid }" required
              />
              <div *ngIf="mFecha.touched && mFecha.invalid" class="invalid-feedback">
                <div *ngIf="mFecha.errors['required']">Fecha es requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" name="nombreReceptor" #mNombreReceptor="ngModel"
                [(ngModel)]="factura.nombreReceptor" placeholder="Nombre del receptor"
                [ngClass]="{ 'is-invalid': mNombreReceptor.touched && mNombreReceptor.invalid }"
                required />
              <div *ngIf="mNombreReceptor.touched && mNombreReceptor.invalid" class="invalid-feedback">
                <div *ngIf="mNombreReceptor.errors['required']">Nombre receptor es requerido</div>
              </div>
            </div>
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input type="text" class="form-control" name="rucReceptor" #mRucReceptor="ngModel"
                [(ngModel)]="factura.rucReceptor" placeholder="RUC receptor" [ngClass]="{ 'is-invalid': mRucReceptor.touched && mRucReceptor.invalid }"
                required />
              <div *ngIf="mRucReceptor.touched && mRucReceptor.invalid" class="invalid-feedback">
                <div *ngIf="mRucReceptor.errors['required']">Ruc receptor es requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <textarea class="form-control" name="comentario" #mComentario="ngModel" [(ngModel)]="factura.comentario"
              rows="3" placeholder="Describa el motivo de la factura"></textarea>
          </div>
        </div>
        <app-cargar-archivos (emitArchivosAlmacenados)="sincronizacionArchivosAlmacenados($event)"></app-cargar-archivos>
        <div class="row my-2">
          <div class="col-md-12">
            <div *ngIf="factura.detalle.length < 1" class="alert alert-info mb-0" role="alert"
              (click)="agregarRubroASubtotalDetalle()">
              <strong>No existe rubros, click para agregar</strong>
            </div>
            <div class="table-responsive-md">
              <table *ngIf="factura.detalle.length > 0" class="table table-bordered mb-0">
                <thead class="thead-light">
                  <tr>
                    <th class="minw-50 w-15">Cantidad</th>
                    <th class="minw-150 w-25">Descripción</th>
                    <th class="minw-75 w-15">Precio unitario</th>
                    <th class="minw-75 w-15">Total</th>
                    <th class="minw-100 w-10">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rubro of factura.detalle; let indice=index">
                    <td scope="row">
                      <input type="number" class="form-control" [(ngModel)]="rubro.cantidad" [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                        (ngModelChange)="factura.calculoTotal()" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="rubro.descripcion" [ngModelOptions]="{standalone: true}"
                      />
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="rubro.precioUnitario" [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                        (ngModelChange)="factura.calculoTotal()" />
                    </td>
                    <td>{{ rubro.total | number: '1.2-2' }}</td>
                    <td>
                      <button type="button" *ngIf="indice === factura.detalle.length - 1" class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalle()">
                        <i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="eliminarRubroASubtotalDetalle(indice); factura.calculoTotal()">
                        <i class="fas fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="factura.isIngreso" name="isIngreso"
                          id="is-ingreso" (ngModelChange)="factura.calculoTotal()" />
                        <label class="form-check-label col-form-label" for="is-ingreso" translate>
                          Ingreso
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="factura.isIva" name="isIva"
                          id="is-iva" (ngModelChange)="factura.calculoTotal()" />
                        <label class="form-check-label col-form-label" for="is-iva" translate>
                          Iva
                        </label>
                        <input type="number" class="form-control minw-50 w-25 mx-1" [(ngModel)]="factura.iva"
                          [disabled]="!factura.isIva" [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                          (ngModelChange)="factura.calculoTotal()" />
                      </div>
                    </td>
                    <td>SubTotal</td>
                    <td>{{ factura.subTotalDetalle | number: '1.2-2' }}</td>
                    <td>
                      <button type="button" *ngIf="factura.detalleTotal.length < 1" class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalleTotal()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>Iva</td>
                    <td>{{ factura.valorIva | number: '1.2-2' }}</td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let rubro of factura.detalleTotal; let indice=index">
                    <td colspan="2"></td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="rubro.nombre" [ngModelOptions]="{standalone: true}" />
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="rubro.cantidad" [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                        (ngModelChange)="factura.calculoTotal()" />
                    </td>
                    <td>
                      <button type="button" *ngIf="indice === factura.detalleTotal.length - 1" class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalleTotal()">
                        <i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="eliminarRubroASubtotalDetalleTotal(indice); factura.calculoTotal()">
                        <i class="fas fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>
                      <strong>Total</strong>
                    </td>
                    <td>{{ factura.total | number: '1.2-2' }}</td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <tag-input [(ngModel)]="factura.etiquetas" [maxItems]="3" [ngModelOptions]="{standalone: true}"
              placeholder="Ingresar más etiquetas" secondaryPlaceholder="Ingresar etiquetas"
              [onlyFromAutocomplete]="true" [theme]="'bootstrap'" [identifyBy]="'id'"
              [displayBy]="'nombre'">
              <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="etiquetas"
                [identifyBy]="'id'" [displayBy]="'nombre'">
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12 d-flex text-center">
            <button type="button" class="btn btn-outline-success" (click)="guardarFactura(form)">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
