<div class="row border border-dark">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <label class="btn btn-sm btn-danger">
          Seleccionar imágenes
          <input type="file" #file class="d-none" (change)="seleccionarImagenes()" multiple/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button [disabled]="archivosPorSubir.length === 0" class="btn btn-success btn-sm text-white" type="button" (click)="cargarTodasLasImagenes()">
          <i class="fa fa-upload fa-fw " aria-hidden="true"></i>
          Cargar imágenes
        </button>
        <button [disabled]="!isUploading" class="btn btn-warning btn-sm text-white" type="button" (click)="cancelarTodasLasImagenes()">
          <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
          Cancelar todos
        </button>
        <button [disabled]="files.length === 0 || isUploading" class="btn btn-danger btn-sm text-white" type="button" (click)="vaciarTodos()">
          <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
          Vaciar
        </button>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre archivo</th>
            <th>Tamaño</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of files; let indice=index">
            <td>{{ archivo.name }}</td>
            <td>{{ archivo.size}}</td>
            <td>
              <span *ngIf="!isCargadoImagen[indice] && !isCargandoImagen[indice]" class="badge badge-info">Por subir</span>
              <i *ngIf="isCargandoImagen[indice]" class="fa fa-spinner fa-spin fa-fw"></i>
              <i *ngIf="isCargadoImagen[indice]" class="fa fa-check" aria-hidden="true"></i>
            </td>
            <!-- <td>

              <button class="btn btn-success btn-sm" type="button" (click)="subirArchivo(indice)">
                <i class="fa fa-upload fa-fw text-white" aria-hidden="true"></i>
              </button>

              <button class="btn btn-sm btn-warning" type="button" (click)="cancelUpload(archivo.id)">
                <i class="fa fa-ban fa-fw text-white " aria-hidden="true"></i>
              </button>

              <button class="btn btn-sm btn-danger" type="button" (click)="removeFile(archivo.id)">
                <i class="fa fa-trash fa-fw text-white" aria-hidden="true"></i>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
