<div class="container">
  <div class="row my-2">
    <div class="col-md-3"></div>
    <div class="col-md-6 border">
      <div class="row my-2">
        <form novalidate>
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-building fa-fw"></i>
              </div>
            </div>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre de la etiqueta"
            />  
          </div>
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-building fa-fw"></i>
              </div>
            </div>
            <input type="text" class="form-control" name="categoria" placeholder="Categoria de la etiqueta"
            />
          </div>
          <button type="submit" class="btn btn-outline-success">Guardar</button>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
